body {
    font-family: Arial, sans-serif;
}
.calendar {
    width: 1000px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 auto;
}
.calendar-header {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.calendar-table {
    width: 100%;
    border-collapse: collapse;
}
.calendar-table th,
.calendar-table td {
    border: 2px solid #ccc;
    padding: 5px;
    text-align: center;
}
.calendar-table th {
    background-color: #f2f2f2;
}
.calendar-table td {
    cursor: pointer;
}
